@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.ttf");
}
html {
  font-family: "Poppins";
}

body {
  background: black;
}
body h1 {
  font-size: 54px;
  line-height: 59px;
  color: #FFFFFF;
}
body p {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
body a {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

header {
  padding: 10px 0;
}

.desctop {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgba(243, 245, 247, 0);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.navbar .nav-container .menu-items button {
  background: #FFFFFF;
  border-radius: 14px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 6px;
  cursor: pointer;
}
.navbar .nav-container .menu-items button:hover {
  box-shadow: 0 0 10px 0 rgba(241, 234, 234, 0.0705882353) inset, 0 0 4px 1px #eae0e0;
  background: transparent;
  color: white;
  transition-duration: 0.6s;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fafafa;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0 0;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.8s ease-in-out;
  text-align: center;
  background: #181818;
  z-index: 2;
  top: 0;
  position: fixed;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 1.2rem;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    padding: 30px 0;
  }
  .mobile {
    display: none;
  }
  .desctop {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .desctop svg {
    width: 100px;
    height: 25px;
  }
  .logo {
    position: inherit;
    top: 0;
    right: 0;
  }
  .menu-items {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .menu-items a {
    font-size: 12px;
    color: #C0C0C0;
  }
  .menu-items a:hover {
    color: white;
    transition-duration: 0.6s;
  }
  .menu-items button {
    background: #FFFFFF;
    border-radius: 14px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
  }
  .menu-items button:hover {
    box-shadow: 0 0 10px 0 rgba(241, 234, 234, 0.0705882353) inset, 0 0 4px 1px #eae0e0;
    background: transparent;
    transition-duration: 0.6s;
  }
  .menu-items button a {
    color: black;
  }
  .menu-items button a:hover {
    color: #fafafa;
  }
}
@media screen and (min-width: 1024px) {
  .desctop svg {
    width: 120px;
    height: 38px;
  }
  .menu-items {
    gap: 40px;
  }
  .menu-items a {
    font-size: 15px;
    line-height: 20px;
  }
  .menu-items button {
    width: 155px;
    height: 42px;
  }
}
.main-section {
  background: center/cover url("../images/bgimage.jpg") no-repeat;
  text-align: center;
}
.main-section .main-block {
  padding: 200px 10px 35px 10px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  gap: 5px;
}
.main-section .main-block h1 {
  font-size: 35px;
  line-height: 40px;
}
.main-section .main-block p {
  font-size: 10px;
  line-height: 15px;
}

.cont-svg {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 20px;
  align-items: center;
  gap: 5px;
}
.cont-svg p {
  font-size: 9px;
  line-height: 5px;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .main-section {
    height: 720px;
  }
  .main-section .main-block {
    padding: 430px 10px 75px 10px;
    gap: 15px;
  }
  .main-section .main-block h1 {
    font-size: 54px;
    line-height: 59px;
  }
  .main-section .main-block p {
    font-size: 14px;
    line-height: 20px;
  }
  .main-section .main-block .p-upper {
    letter-spacing: 2px;
  }
  .cont-svg {
    gap: 10px;
  }
  .cont-svg p {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  }
}
.hero {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 35px;
}

.p-upper2 {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 42px;
}

.card-contr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.card-contr p {
  font-size: 8px;
  line-height: 10px;
  padding-right: 25px;
  padding-left: 20px;
}
.card-contr .p-upper {
  text-transform: uppercase;
  padding-top: 250px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background: center/cover url("../images/image-1-card.png") no-repeat;
}
.card1 button {
  background: #FFFFFF;
  border-radius: 14px;
  width: 90px;
  display: flex;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.card1 button:hover {
  box-shadow: 0 0 10px 0 rgba(241, 234, 234, 0.0705882353) inset, 0 0 4px 1px #eae0e0;
  background: transparent;
  color: white;
  transition-duration: 0.6s;
}

.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background: center/cover url("../images/image-2-card.png") no-repeat;
}
.card2 button {
  background: #FFFFFF;
  border-radius: 14px;
  width: 90px;
  display: flex;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.card2 button:hover {
  box-shadow: 0 0 10px 0 rgba(241, 234, 234, 0.0705882353) inset, 0 0 4px 1px #eae0e0;
  background: transparent;
  color: white;
  transition-duration: 0.6s;
}

.card3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background: center/cover url("../images/image-3-card.png") no-repeat;
}
.card3 button {
  background: #FFFFFF;
  border-radius: 14px;
  width: 90px;
  display: flex;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.card3 button:hover {
  box-shadow: 0 0 10px 0 rgba(241, 234, 234, 0.0705882353) inset, 0 0 4px 1px #eae0e0;
  background: transparent;
  color: white;
  transition-duration: 0.6s;
}

.card4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background: center/cover url("../images/image-4-card.png") no-repeat;
}
.card4 button {
  background: #FFFFFF;
  border-radius: 14px;
  width: 90px;
  display: flex;
  justify-content: center;
  padding: 6px;
  cursor: pointer;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.card4 button:hover {
  box-shadow: 0 0 10px 0 rgba(241, 234, 234, 0.0705882353) inset, 0 0 4px 1px #eae0e0;
  background: transparent;
  color: white;
  transition-duration: 0.6s;
}

@media screen and (min-width: 768px) {
  .hero {
    font-size: 40px;
    line-height: 50px;
  }
  .p-upper2 {
    font-size: 17px;
    line-height: 30px;
  }
  .card-contr {
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .card-contr p {
    font-size: 10px;
    line-height: 15px;
  }
  .card-contr .p-upper {
    text-transform: uppercase;
    padding-top: 400px;
    font-size: 15px;
  }
  .card1 {
    max-width: 576px;
  }
  .card1 button {
    width: 120px;
    font-size: 12px;
  }
  .card2 {
    max-width: 576px;
  }
  .card2 button {
    width: 120px;
    font-size: 12px;
  }
  .card3 {
    max-width: 576px;
  }
  .card3 button {
    width: 120px;
    font-size: 12px;
  }
  .card4 {
    max-width: 576px;
  }
  .card4 button {
    width: 120px;
    font-size: 12px;
  }
}
.sec3 {
  background: center/cover url("../images/image-bgsec3.png") no-repeat;
}

.cont-paragraph-sec3 {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 80px;
  padding-right: 10px;
  align-items: flex-start;
  text-align: start;
  max-width: 300px;
}
.cont-paragraph-sec3 h3 {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.cont-paragraph-sec3 p {
  font-size: 10px;
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .cont-paragraph-sec3 {
    padding-top: 260px;
    padding-right: 0;
    padding-bottom: 200px;
    align-items: flex-start;
    text-align: start;
    max-width: 300px;
  }
  .cont-paragraph-sec3 h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .cont-paragraph-sec3 p {
    font-size: 12px;
    line-height: 17px;
  }
}

/*# sourceMappingURL=main.css.map */
