.sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    p {
        font-size: 10px;
        line-height: 15px;
        text-transform: uppercase;
    }
    h1 {
        font-size: 35px;
        line-height: 40px;
        font-style: normal;
        font-weight: 400;
        margin-top: 20px;
    }
}

.flex-images-sec6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .sec6 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        p {
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
        }
        h1 {
            font-size: 45px;
            line-height: 60px;
            font-style: normal;
            font-weight: 400;
            margin-top: 60px;
        }
    }

    .flex-images-sec6 {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 109px;
        margin-bottom: 140px;
    }
}
